.skills-container {
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
  }

  .skills-grid {
    
    padding-inline: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-item {
    background-color: rgba(255, 255, 255, 0.2);
    background:  #6643b5;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .skill-title {
    font-size: 18px;
  }

  @media (max-width: 767px) {
    .skills-container {
      padding: 10px; /* Reduce padding for smaller screens */
    }
  
    .skills-grid {
      padding-inline: 10px; /* Adjust horizontal padding */
    }
  
    .skill-item {
      flex-basis: calc(20% - 20px); /* Two items per row, with spacing */
      max-width: calc(20% ); /* Limit maximum width for smaller screens */
    }
  
    .skill-title {
      font-size: 14px; /* Decrease font size for smaller screens */
    }
  }