*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body { font-weight: 300;
    background: #e7eaf6; 
    height: 100%;
    line-height: 1.3;
  }

  .h1-design {
    color: #38598b; 
    font-size: 2.1rem; /* Increase font size for more impact */
    text-align: center;
    border-bottom: 2px solid #6643b5;  /* Thicker border bottom */
    padding-bottom: 10px; /* Increase padding for better spacing */
    
    margin-bottom: 20px; /* Add margin bottom for separation */
    letter-spacing: 1px; /* Add letter spacing for better readability */
  }
  
  .h1-design:hover {
    color: #6643b5;   
  }
  
  html {
    scroll-behavior: smooth;
  }
  